---
import Opener from '../components/Opener.astro';
import PortfolioGrid from '../components/PortfolioGrid.astro';
import Modal from '../components/Modal.astro';
---
<head>
  <title>Ashley Rodan - Portfolio</title>
  <meta name="description" content="Welcome to Ashley Rodan's personal website. Explore my projects and learn more about me." />
  <meta name="keywords" content="Ashley Rodan, Portfolio, Web Developer, Projects" />
</head>

<Opener />
<PortfolioGrid />
<Modal />
